<div class="container">
  <h1>Hello World</h1>
  <div #normalPlayer>
    <video #videoElement (timeupdate)="onTimeUpdate()" controls>
      <source src="http://distribution.bbb3d.renderfarming.net/video/mp4/bbb_sunflower_1080p_60fps_normal.mp4">
    </video>
  </div>
  <button #miniButton="cdkOverlayOrigin" cdkOverlayOrigin (click)="setNormalPlayer()">SET NORMAL</button>

  <h1>Mini Player</h1>
<!--  <div #miniPlayer></div>-->
  <button (click)="setMiniPlayer()">SET MINI</button>
</div>

<!--<ng-template #overlayRef cdkConnectedOverlay
             [cdkConnectedOverlayOpen]="isOpened"
             [cdkConnectedOverlayOrigin]="miniButton"
             [cdkConnectedOverlayPositions]="positions">
  <app-mini-player [video]="videoEl"></app-mini-player>
</ng-template>-->

<app-mini-player *ngIf="state === 'mini'" [video]="videoEl"></app-mini-player>
